<template>
  <div class="app-banner position-relative">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-light w-100">
          <div class="app-banner__logo">
            <img src="logo.svg" alt="" class="img-fluid" />
          </div>
          <div class="d-flex">
            <div
              class="app-banner__logo-redes app-banner__logo-redes--facebook"
            >
              <img src="~/assets/images/facebook-icon.svg" alt="Facebook" />
            </div>
            <div
              class="app-banner__logo-redes app-banner__logo-redes--instagram"
            >
              <img src="~/assets/images/instagram-icon.svg" alt="Instagram" />
            </div>
            <div class="app-banner__logo-redes app-banner__logo-redes--youtube">
              <img src="~/assets/images/youtube-icon.svg" alt="Youtube" />
            </div>
          </div>
        </nav>
        <div class="app-banner__title-container">
          <h2 class="app-banner__title">
            <span>El secreto</span> <br />
            <span>de tu cocina</span>
          </h2>
          <img
            src="~/assets/images/hero-shape.png"
            alt=""
            class="app-banner__title-img"
          />
        </div>
      </div>
    </div>
  </div>
</template>
