<template>
  <div class="container app-form">
    <div class="app-form__title" data-aos="fade-up">
      <h3>Contáctanos</h3>
      <div>
        <img src="~/assets/images/heading-shape.png" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-md-8">
        <div v-if="enviado" class="card text-center mb-5">
          <div class="card-body">
            <h4 class="card-title text-success">{{ correoMensaje }}</h4>
          </div>
        </div>
        <form v-else ref="formulario" method="post" @submit="sendForm($event)">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nombre</label>
              <input v-model="firstName" type="text" class="form-control" />
              <span v-if="!firstName" class="validationAlert">
                {{ mensajeError }}
              </span>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Apellido</label>
              <input v-model="lastname" type="text" class="form-control" />
              <span v-if="!lastname" class="validationAlert">
                {{ mensajeError }}
              </span>
            </div>
            <div class="form-group col-md-6">
              <label for="inputAddress">Mail</label>
              <input v-model="mail" type="email" class="form-control" />
              <span v-if="!mail" class="validationAlert">
                {{ mensajeError }}
              </span>
            </div>
            <div class="form-group col-md-6">
              <label>Telefono</label>
              <input
                v-model="phone"
                type="tel"
                class="form-control"
                placeholder="994738488"
                minlength="9"
                maxlength="9"
              />
              <span v-if="!phone" class="validationAlert">
                {{ mensajeError }}
              </span>
            </div>
          </div>
          <div class="text-right my-4">
            <button type="submit" class="btn app-form__btn rounded-pill">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      firstName: null,
      lastname: null,
      mail: null,
      phone: null,
      error: false,
      mensajeError: '',
      validarInput: false,
      enviado: false,
      correoMensaje: '',
    }
  },

  methods: {
    sendForm(e) {
      e.preventDefault()
      this.mensajeError = ''
      if (this.firstName && this.lastname && this.mail && this.phone) {
        this.$axios
          .$post('/https://5eed24da4cbc340016330f0d.mockapi.io/api/subscribe', {
            firstName: this.firstName,
            lastName: this.lastName,
            email: this.mail,
            phone: this.phone,
          })
          .then((response) => {
            this.firstName = ''
            this.lastName = ''
            this.mail = ''
            this.phone = ''
            this.enviado = true
            this.correoMensaje = 'Correo enviado'
            setTimeout(() => {
              this.enviado = false
            }, 2000)
          })
          .catch((error) => {
            this.enviado = true
            this.correoMensaje = 'No se puedo enviar intentar de nuevo'
            setTimeout(() => {
              this.enviado = false
            }, 2000)
            // eslint-disable-next-line no-console
            console.log(error)
          })
      } else {
        this.mensajeError = 'el campo es requerido'
      }
    },
  },
}
</script>
