<template>
  <div class="container app-product">
    <div class="app-product__title" data-aos="fade-up">
      <h3>Nuestros artículos</h3>
      <div>
        <img src="~/assets/images/heading-shape.png" alt="" class="img-fluid" />
      </div>
    </div>

    <div class="row pb-2" data-aos="fade-down">
      <div class="col-12 col-md-4 mb-3">
        <div class="card border-0 shadow" style="height: 319px">
          <div class="card-body">
            <ul class="list-group list-group-flush nav nav-pills nav-fill">
              <li
                class="list-group-item d-flex justify-content-between"
                @click="getProduct()"
              >
                <span :class="{ 'active-list': classActive === 'Todos' }">
                  TODOS
                </span>
                <img src="~/assets/images/arrow.svg" alt="" />
              </li>
              <li
                class="list-group-item d-flex justify-content-between"
                @click="getProductfilter('Productos')"
              >
                <span :class="{ 'active-list': classActive === 'Productos' }">
                  PRODUCTOS
                </span>
                <img src="~/assets/images/arrow.svg" alt="" />
              </li>
              <li
                class="list-group-item d-flex justify-content-between"
                @click="getProductfilter('Recetas')"
              >
                <span :class="{ 'active-list': classActive === 'Recetas' }">
                  RECETAS
                </span>
                <img src="~/assets/images/arrow.svg" alt="" />
              </li>
              <li
                class="list-group-item d-flex justify-content-between"
                @click="getProductfilter('Consejos')"
              >
                <span :class="{ 'active-list': classActive === 'Consejos' }">
                  CONSEJOS
                </span>
                <img src="~/assets/images/arrow.svg" alt="" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7" data-aos="fade-up">
        <div class="row">
          <div
            v-for="item in productAll"
            :key="item.id"
            class="col-12 col-md-4"
          >
            <div class="card border-0 shadow mb-3">
              <img
                class="card-img-top"
                :src="item.image"
                alt="Card image cap"
              />

              <div class="card-body">
                <h4 class="card-title">{{ item.title }}</h4>
                <p class="card-text">{{ item.content }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      classActive: 'Todos',
      productAll: [],
    }
  },
  mounted() {
    this.getProduct()
  },

  methods: {
    async getProduct() {
      try {
        this.classActive = 'Todos'
        // eslint-disable-next-line prettier/prettier
        const response = await this.$axios.$get('https://5eed24da4cbc340016330f0d.mockapi.io/api/articles')
        this.productAll = response
        // eslint-disable-next-line no-console
        console.log(this.productAll)
      } catch (error) {
        // eslint-disable-next-line no-console
        console.log(error)
      }
    },

    async getProductfilter(item) {
      try {
        // eslint-disable-next-line prettier/prettier
        const response = await this.$axios.$get(`https://5eed24da4cbc340016330f0d.mockapi.io/api/articles?filter=${item}`)
        // eslint-disable-next-line no-console
        console.log(item)
        this.classActive = item
        this.productAll = response
      } catch (error) {
        // eslint-disable-next-line no-console
        console.log(error)
      }
    },
  },
}
</script>
