.app-form {
  input {
    border-radius: 0%;
  }

  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  .uneditable-input:focus {   
    border-color: $gold;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    outline: 0 none;
  }

  &__title {
    margin-top: 5rem;
    margin-bottom: 5rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 3rem;
    }

    div:first-of-type { 
      position: absolute;
      opacity: 0.2;
      transform: translate(20%, -60%);
      max-width: 70%;

      @include media-breakpoint-up(md) {
        width: 464px;
        max-width: 50%;
        transform: translate( 0, -60%);
        right: calc(50% - 232px);
      }
    }

    h3 {
      position: relative;
      text-align: center;
      font-family: 'Caveat', cursive;
      font-size: 2.5rem;
      color: $title;
      z-index: 2;

      @include media-breakpoint-up(md) {
        font-size: 5rem;
      }
    }
  }

  &__btn {
    background-color: $gold;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    width: 170px;
    height: 55px;
  }
  
  &__btn:hover {
    background-color: $blue;
    color: #ffffff;
  }
  
  .validationAlert {
    color: $red;
  }

  .validarInput {
    border-color: $red;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    outline: 0 none;
  }
}