.app-banner {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.924807) 1%, rgba(255, 255, 255, 0) 37%), url('~assets/images/hero-background.jpg');
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;

  @include media-breakpoint-up(md) { 
    width: 100%;
    height: 805px;
  }

  &__container {
    padding: 2rem 2rem;

    @include media-breakpoint-up(md) { 
      padding: 3rem 8rem;
    }
  }

  &__logo {
    width: 80px;
    height: 50px;

    @include media-breakpoint-up(md) {
      width: 135px;
      height: 80px;
    }
  }

  &__logo-redes {
    border-radius: 50% !important;
    border: 3px solid;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(md) { 
      width: 62px;
      height: 62px;
    }

    &--facebook {
      margin-right: 0.5rem;
      border-color: $blue !important;
    }

    &--instagram {
      margin-right: 0.5rem;
      border-color: $red !important;
    }

    &--youtube {
      margin-right: 0.5rem;
      border-color: $gold !important;
    }
  }

  &__title-container {
    position: absolute;
    top: 50%;
    width: 90%;
    transform: translate(4%, -50%);

    @include media-breakpoint-up(md) {
      transform: translate(0, -50%);
    }
  }

  &__title {
    font-family: 'Caveat', cursive;
    line-height: 0.8;
    position: relative;
    width: 80%;
    margin: 0;
    font-weight: 700;
    font-size: 3.6rem;
    color: $title;
    z-index: 2;
    animation-name: myanimation;
    animation-duration: 1s;
    animation-fill-mode: ease-in-out;

    @keyframes myanimation {
      0% {left: -150px; }
      100% {left: 0px;}
    }
    
    @include media-breakpoint-up(md) { 
      font-size: 8rem;
    }
  }

  &__title-img {
    position: absolute;
    width: 335px;
    left: -98px;
    transform: translate(0, -50%);
    animation-name: myanimationimg;
    animation-duration: 2s;
    animation-fill-mode: ease-in-out;

    @keyframes myanimationimg {
      0% {left: -150px; }
      100% {left: -98px;}
    }

    @include media-breakpoint-up(md) {
      width: 1312px;
      height: 174px;
      left: -585.85px;

      @keyframes myanimationimg {
        0% {left: -1000px; }
        100% {left: -585.85px;}
      }
    }
  }
}
