@import "vendor/bootstrap/core";
@import "header.scss";
@import "product.scss";
@import "form.scss";
@import 'aos/dist/aos.css';


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
  overflow-y: scroll;
}

.container {
  margin: 0 auto;
  @include media-breakpoint-up(lg) { 
    max-width: 1650px;
  }
}

.container-fluid {
  margin: 0;
  padding: 0;
}