.app-product {
  &__title {
    margin-top: 5rem;
    margin-bottom: 5rem;
    @include media-breakpoint-up(md) {
      padding-bottom: 5rem;
    }

    div:first-of-type { 
      position: absolute;
      opacity: 0.2;
      transform: translate(20%, -60%);
      max-width: 70%;

      @include media-breakpoint-up(md) {
        width: 464px;
        max-width: 50%;
        transform: translate( 0, -60%);
        right: calc(50% - 232px);
      }
    }

    h3 {
      position: relative;
      text-align: center;
      font-family: 'Caveat', cursive;
      font-size: 2.5rem;
      color: $title;
      z-index: 2;

      @include media-breakpoint-up(md) {
        font-size: 5rem;
      }
    }
  }

  .card {
    font-family: 'Open Sans', normal;
  }

  .active-list {
    color: $gold;
  }

  .list-group-flush > .list-group-item {
    border-width: 0 0 0px;
  }

  .list-group-item {
    cursor: pointer;
  }
}