<template>
  <div class="container-fluid">
    <div>
      <Banner />
      <ProductList />
      <Form />
    </div>
  </div>
</template>

<script>
import AOS from 'aos'
export default {
  created() {
    AOS.init()
  },
}
</script>
